/* Main */

#main {
  @include vendor('flex-grow', '1');
  @include vendor('flex-shrink', '1');
  @include vendor('display', 'flex');
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'center');
  @include vendor('flex-direction', 'column');
  position: relative;
  max-width: 100%;
  z-index: 3;
  display: none;

  article {
    @include vendor('transform', 'translateY(0.25rem)');
    @include vendor(
      'transition',
      (
        'opacity #{_duration(article)} ease-in-out',
        'transform #{_duration(article)} ease-in-out'
      )
    );
    @include padding(2.5rem, 2.5rem, (2rem, 0, 1rem, 0));
    position: relative;
    width: 50rem;
    max-width: 100%;
    background-color: transparentize(_palette(bg), 0.15);
    border-radius: _size(border-radius);
    opacity: 0;

    &.timeout {
      display: none;
    }

    &.active.timeout {
      @include vendor('transform', 'translateY(0)');
      opacity: 1;
    }

    &.active {
      display: block !important;
    }

    .close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      text-indent: 4rem;
      overflow: hidden;
      white-space: nowrap;

      &:before {
        @include vendor(
          'transition',
          'background-color #{_duration(transition)} ease-in-out'
        );
        content: '';
        display: block;
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        background-position: center;
        background-image: svg-url(
          '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #{_palette(border)}; stroke-width: 1; }</style><line x1="2" y1="2" x2="18" y2="18" /><line x1="18" y1="2" x2="2" y2="18" /></svg>'
        );
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }

      &:hover {
        &:before {
          background-color: _palette(border-bg);
        }
      }

      &:active {
        &:before {
          background-color: _palette(border-bg-alt);
        }
      }
    }

    .portfolio {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      color: var(--clr-light);
    }

    .portfolio__item {
      background: var(--clr-accent);
      position: relative;
      overflow: hidden;
      border-bottom-style: none;
    }

    .portfolio__img {
      transition: transform 750ms cubic-bezier(0.5, 0.5, 0.5, 0.5),
        opacity transform 250ms linear;
      object-fit: fill;
      width: 100%;
      height: 100%;
    }

    .portfolio__item:focus {
      position: relative;
    }

    .portfolio__img:hover,
    .portfolio__item:focus .portfolio__img {
      transform: scale(1.2);
    }

    .hovereffect {
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
    }

    .hovereffect .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: rgba(75, 75, 75, 0.3);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .hovereffect:hover .overlay {
      background-color: rgba(75, 75, 75, 0.8);
    }

    .hovereffect img {
      display: block;
      position: relative;
      background-size: auto;
      max-width: 100%;
      height: auto;
    }

    .hovereffect h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
      transform: translateY(45px);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .hovereffect:hover h2 {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
    }

    .hovereffect a.info {
      display: inline-block;
      justify-content: space-around;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 5px;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      font-weight: normal;
      margin: -5px 0 0 0;
      padding: 5px 5px 5px 5px;
    }

    .hovereffect:hover a.info {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    button {
      display: inline-block;
      min-width: 7.5rem;
      height: 2.75rem;
      line-height: 2.75rem;
      padding: 0 1.25rem 0 (1.25rem + _font(letter-spacing));
      text-transform: uppercase;
      letter-spacing: _font(letter-spacing);
      font-size: 0.8rem;
      font-family: _font(family);
      border: 1px solid #fff;
      box-shadow: none;

      &:hover,
      &:focus {
        background-color: _palette(border-bg);
      }

      &:active {
        background-color: _palette(border-bg-alt);
      }
    }
  }

  @include breakpoint(small) {
    article {
      @include padding(2rem, 2rem, (1.5rem, 0, 0.5rem, 0));
      .close {
        &:before {
          top: 0.875rem;
          left: 0.875rem;
          width: 2.25rem;
          height: 2.25rem;
          background-size: 14px 14px;
        }
      }
    }
  }

  @include breakpoint(xsmall) {
    article {
      @include padding(2rem, 1.5rem, (1rem, 0, 0.5rem, 0));
    }
  }
}
